<?xml version="1.0"?>
<configuration> 
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InterchangeWFA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="InterchangeWFA.Properties.Settings.SeniorCS" connectionString="Provider=SQLOLEDB;Data Source=192.168.5.29;Persist Security Info=True;User ID=dclock;Initial Catalog=SENIOR"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <InterchangeWFA.Properties.Settings>
            <setting name="InterchangeWFA_DiginetWebServiceRef_DigiNetWSService"
                serializeAs="String">
                <value>http://localhost:8080/diginet2/diginet-ws</value>
            </setting>
        </InterchangeWFA.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
      <switches>
        <add name="Remote.Disable" value="1" />
      </switches>
    </system.diagnostics>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
